a,
aside,
body,
div,
footer,
html,
i,
img,
li,
nav,
p,
section,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}

body {
  font-size: 12px;
  color: rgb(165, 165, 165);
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

.container,
.main,
body {
  background: #fff;
}

.container .left-bar {
  position: fixed;
  padding: 0 20px;
  box-shadow: 0px 0px 8px rgb(239, 237, 255);
  background: #ffffff;
  color: #737EF0;
  box-sizing: border-box;
  flex-direction: column;
  height: 100vh;
  display: flex;
  width: 232px;
  transition: all .5s;
  text-align: center;
}

.container .main {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  margin-left: 240px;
  padding-top: 60px;
}

.container .main .iconfont {
  font-size: 18px;
  color: #000;
}

.set-scroll {
  background-color: #494f5e;
  border-radius: 0;
  width: 4px;
}

.title >a {
  color: #737EF0;
  font-size: 20px;
  height: 50px;
  font-weight: bold;
  line-height: 50px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 4px 10px #F7F7FF;
	position: fixed;
	top: 0px;
	z-index:9999;
}

.h2 {
  text-align: center;
  /* font-size: 16px; */
}

.left-bar .title p {
  text-align: center;
}

.left-bar .nav {
  flex: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-top: 60px;
}

.left-bar .nav .item {
  height: 48px;
  line-height: 46px;
  border-top: 2px solid rgba(255, 255, 255, .04);
  border-bottom: 2px solid rgba(255, 255, 255, .04)
}

.left-bar .nav>.active {
  position: relative;
}

/* .left-bar .nav>.active .line {
  position: absolute;
  right: 0;
  height: 30px;
  width: 3px;
  background: #3a85ff;
  z-index: 100000;
  margin-top: 10px
} */

.left-bar .nav-item {
  min-height: 100vh;
  overflow-y: scroll;
  display: inline-block;
  /* margin: 0 auto; */
}

.left-bar .nav-item::-webkit-scrollbar-track {
  background-color: #979797;
  border-radius: 0;
  width: 1px;
}

.left-bar .nav-item::-webkit-scrollbar-thumb {
  background-color: #979797;
  border-radius: 0;
  width: 1px;
}

.left-bar .nav-item::-webkit-scrollbar {
  background-color: #979797;
  border-radius: 0;
  width: 0px;
}

.left-bar .nav-item li {
  /* margin: 0 auto; */
  height: 48px;
  line-height: 48px;
}

/* .left-bar .nav-item li:hover a,
.left-bar .nav-item li:hover i, */
.left-bar .nav-item li>.active,
.left-bar .nav-item li>.active i {
  color: #737EF0;
  font-weight: bold;
}

.left-bar .nav-item li a {
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  color: #A8A8A8;
  text-align: center;
}

.nav .item a {
  color: #fff;
  margin: 0 auto;
}

.nav .comment {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  width: 200px;
}

.nav .comment a {
  color: #BCBCBC;

}

.main #mainContent {
  max-width: 1200px;
  margin: 0 auto;
}

.main .box {
  overflow: hidden;
  margin: 20px 20px;
  background: #fff;
  padding-bottom: 20px;
}

.main .box .sub-category>div {
  padding: 12px 0 0 2.1%;
  font-size: 18px;
}

.main .box .item {
  width: 20%;
  /* border: 1px solid #e4ecf3; */
  box-shadow: 0px 2px 8px rgb(242, 238, 255);
  border-radius: 8px;
  background: #fff;
  padding: 10px;
  min-width: 200px;
  margin: 22px 0 0 2.1%;
  float: left;
  overflow: hidden;
  transition: all .3s;
}

.main .box .item:hover {
  transform: translateY(-8px);
}

.main .box .item .no-logo {
  color: #737EF0;
  font-weight: 700;
  font-size: 14px;
}

.main .box .item .logo {
  height: 40px;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #737EF0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 2px;
}

.main .box .item .logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.main .box .item .desc {
  color: #999999;
  font-size: 12px;
  padding-top: 10px;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.footer {
  width: 100%;
  bottom: 0;
  line-height: 45px;
  margin-bottom: 20px;
  /* background: #fff; */
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, .2) */
}

.footer .copyright {
  /* margin-left: 30px; */
  color: #A8A8A8;
  font-size: 14px;
  margin: 0 auto;
}

.footer .copyright a {
  text-decoration: none;
  color: #737EF0;
}

#menu-box {
  display: none;
  width: 100%;
  background: #fff;
  text-align: right;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 1px 1px 8px #F7F7FF;
  height: 50px;
}

#menu-box #menu {
  height: 42px;
  width: 42px;
  position: absolute;
  right: 10px;
}

#menu-box #menu * {
  transition: all .3s;
  -webkit-transition: all .3s;
  box-sizing: border-box;
}

#menu-box #menu input[type=checkbox] {
  display: none;
}

#menu-box #menu input[type=checkbox]:checked~.menu-spin>.horizontal {
  opacity: 0;
}

#menu-box #menu input[type=checkbox]:checked~.menu-spin>.line-1 {
  transform: rotate(405deg);
  -webkit-transform: rotate(405deg);
  margin-top: 10px;
}

#menu-box #menu input[type=checkbox]:checked~.menu-spin>.line-2 {
  transform: rotate(-405deg);
  -webkit-transform: rotate(-405deg);
  margin-top: -10px;
}

#menu-box #menu label {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 10px;
  left: 0;
}

#menu-box #menu label .line {
  position: absolute;
  height: 3px;
  width: 64%;
  border-radius: 1.5px;
  background-color: #A8A8A8;
}

#menu-box #menu label .horizontal {
  top: 10px;
}

#menu-box #menu label .line-2 {
  top: 20px;
}

.download a,
.download i {
  color: #3668bd !important;
}

#fixedBar {
  padding: 10px;
  background: #fff;
  width: 24px;
  height: 24px;
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 9999;
  border-radius: 50%;
  box-shadow: 0px 2px 8px rgb(214, 202, 255);
  cursor: pointer;
  display: none;
}

#fixedBar svg {
  color: #cecece;
}

@media screen and (max-width:481px) {
  .container .box .item {
    width: 39%;
    min-width: 100px;
  }

  .container .main {
    margin-left: 0;
  }

  .container .left-bar {
    z-index: 999;
    left: -249px;
  }

  #menu-box {
    display: block;
  }
}

@media screen and (min-width:481px) {
  .container .left-bar {
    left: 0;
  }
}

@media screen and (min-width:482px) and (max-width:789px) {
  .container .box .item {
    width: 90%;
  }

  .container .left-bar {
    left: 0;
  }
}

@media screen and (min-width:790px) and (max-width:1039px) {
  .container .box .item {
    width: 43%;
  }
}

@media screen and (min-width:1040px) and (max-width:1920px) {
  .container .box .item {
    width: 20%;
  }
}

.search_btn {
  outline: 0;
  border: none;
  border-radius: 8px;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, .6);
  padding: 5px 10px 5px 10px;
  height: 30px;
}

.anchor{
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.content svg {
  width: 20px;
  height: 20px;
  padding: 0 auto;
}

.comment svg {
  width: 13px;
  height: 13px;
  padding-right: 5px;
  vertical-align: text-top;
  fill: #A8A8A8;
}

.content {
  text-align: center;
}

.content >a {
  /* border: 2px solid #444; */
  background-color: #fff;
  box-shadow: 0px 2px 8px rgb(214, 202, 255);
  display: inline-block;
  width: 30px;
  line-height: 10px;
  padding: 5px 0px;
  border-radius: 50%;
  margin: 16px 8px;
}